<% content_for :head do %>
   <%= stylesheet_link_tag :squeezes -%>
<% end %>

<section class="container main">
  <section class="left col-md-4">
    <article class="profile box">
      <div class="wrapper col-md-10">
        <div class="description">
          <%= image_tag "intro-bg1.jpg" %>
          <h5>Aitor Palacios</h5>
          <h6>@apalzab</h6>
        </div>
      </div>
      <div class="info col-md-10">
        <ul>
          <li class="col-md-4">Squeezes</li>
          <li class="col-md-4">Followers</li>
          <li class="col-md-4">Following</li>
        </ul>
      </div>
      <div class="actions col-md-10">
        <ul>
          <li class="col-md-4">New Squeeze</li>
        </ul>
      </div>
    </article>

    <article class="most-voted box">
      <h3>Most voted box</h3>
    </article>
  </section>

  <section class="right-container col-md-8">
    <h2>Right container</h2>
    <article class="lasts-squeezes box">
      <h3>Lasts Squeezes box</h3>
    </article>
  </section>
</section>

